{% extends 'IrregularVerbs/base.html' %}


{% block content %}

    <div id="wrapper">
        <table>
            <div id="btn-start-study">
                <button class="button-study btn">Study</button>
            </div>
            <caption>
                {{ header }}
            </caption>
            <tr>
                <th>Infinitive</th>
                <th>Past simple</th>
                <th>Past participle</th>
                <th>Translation</th>
            </tr>
            {% for  obj in verbs %}
            <tr>
                <td data-cell="Infinitive">{{ obj.infinitive }}</td>
                <td data-cell="Past simple">{{ obj.past_simple}}</td>
                <td data-cell="Past participle">{{ obj.past_participle }}</td>
                <td data-cell="Translation">{{ obj.translation }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% include 'IrregularVerbs/flash_cards.html' %}

    {% endblock %}

