<div id="main-container">
    <label for="hamburger" class="hamburger-wrapper">
        <div id="hamburger-btn">
            <div class="hamburger">
                <input type="checkbox" id="hamburger">
            </div>
        </div>
    </label>
    <div id="sidebar-container">
        <div class="sidebar_menu">
            <div class="sidebar-top">
                <div class="logo">
                    <a href="{% url 'index' %}" title="Main Page">EasyVerbs</a>
                </div>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{% url 'all_verbs' %}">All verbs</a></li>
                    <li><a href="{% url 'beginner_verbs' %}">Beginner Verbs</a></li>
                    <li><a href="{% url 'intermediate_verbs' %}">Intermediate Verbs</a></li>
                    <li><a href="{% url 'advanced_verbs' %}">Advanced Verbs</a></li>
                </ul>
            </div>
            <footer class="footer-navbar" role="contentinfo">
                <div class="sidebar-bottom">
                <span>&#9993;</span> Contact information
                </div>
            </footer>
        </div>
    </div>
</div>























<!-- 

<div id="navbar-container">

    <div class="sidebar-box">

        <div id="hamburger-button">
            <div class="hamburger-wrapper">
                <label class="hamburger" for="input-hamburger">
                     <input type="checkbox" id="input-hamburger"/>
                </label>
            </div>
        </div>


        <div class="sidebar_menu">
            
            <div class="top-menu">
                <div class="fake-area"></div>

                <div class="logo">
                    <a href="#">EasyVerbs</a>
                </div>
   
            </div>
        
    
            <div class="menu">
                <ul>
                    <li><a href="#">All verbs</a></li>
                    <li><a href="#">Beginner Verbs</a></li>
                    <li><a href="#">Intermediate Verbs</a></li>
                    <li><a href="#">Advanced Verbs</a></li>

                </ul>
            </div>
        </div>

    </div>
</div>  -->
